<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Article title</h2>
        <input type="text" ng-model="postTitle">
        <br>
        <br>
        <form method="post" ng-controller="TinyMceController">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            <br>
            <!-- <form class="notification-form" ng-controller="exampleForm">
                <button type="button" class="show-button btn btn-primary" ng-click="savePost()" notification-title="title" notification-text="text">Publish</button>
            </form> -->

            <button type="button" class="btn btn-primary" ng-click="savePost()">Publish</button>
            
        </form>
    </div>
  
</body>
